#question{font-size: 250%;color: red;}
.footer{ padding-right: 2%;font-size: smaller;background-color:#f4c33098;}
#welcome{font-size: 200%;
font-family: 'Courier New', Courier, monospace;
color: green;}